@using AdService.Application.Advertisements.CourseAdvertisements.Queries.GetUsersCourseAdverts;
@using AdService.Application.Common.Extensions;

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model CourseAdvertBasicsDto

@{
    var imagePath = $"~/Content/Images/{Model.ImageUrl}";
}

    <div class="card h-100" style="height: 550px;">
      @*<img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp" class="card-img-top" alt="Skyscrapers"/>*@
      <a href="/courseadvert/@Model.WebsiteUrl">
          <div class="image-container">
            <img src="@Url.Content(imagePath)" class="card-img-top" alt="Skyscrapers"/>
          </div>
          <div class="card-body">
            <h5 class="card-title">@Model.Title</h5>
            <p>
                Price: <strong>@Model.CoursePrice$</strong>
            </p>
            <p class="card-text">
              @Model.Description.TakeFirstNChar(100)
            </p>
        
          </div>
          <div class="card-footer">
            <small class="text-muted">Posted: @Model.StartDate</small>
          </div>
      </a>
    </div>
  