@using AdService.Application.Advertisements.CourseAdvertisements.Queries.GetUsersCourseAdverts;
@using AdService.Application.Common.Extensions;

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model CourseAdvertBasicsDto

@{
    var imagePath = $"~/Content/Images/{Model.ImageUrl}";    
}

    <div class="card" @*style="min-height: 550px;"*@>
      
          <div class="image-container">
              @*<a href="/courseadvert/@Model.WebsiteUrl">*@
            <img src="@Url.Content(imagePath)" class="card-img-top" alt="CourseAdvertImage"/>
                @*</a>*@
          </div>
          <div class="card-body">
            <h5 class="card-title">@Model.Title</h5>
            <p class="card-text">
                Price: <strong>@Model.CoursePrice$</strong>
            </p>
            <p class="card-text">
              @Model.Description.ExtractTextFromHtml().TakeFirstNChar(100)
            </p>
            <a href="/courseadvert/@Model.WebsiteUrl" class="stretched-link"></a>
          </div>
          <div class="card-footer ">
            <small class="text-muted">Posted: @Model.StartDate</small>
          </div>
    </div>
  