@using AdService.Application.Advertisements.CourseAdvertisements.Queries.GetCourseAdvertPage;


@model CourseAdvertPageVm

@{
    var imagePath = $"~/Content/Images/{Model.CourseAdvert.ImageUrl}";    
    var logoPath = $"~/Content/Images/Logos/{Model.User.CompanyLogo}";    
}

<div>

    <div class="container">

        <div class="row">

            <div class="col-lg-8">

                <div class="card mb-4 card-primary card-border-top" style="padding: 18px;">
                
                    @if (Model.CourseAdvert.ImageUrl != "course_default.jpg")
                    {
                        <div class="image-container mb-3">
                            <img src="@Url.Content(imagePath)" class="card-img-top" alt="CourseAdvertImage"/>
                        </div> 
                    }
                
                    <h3>@Model.CourseAdvert.Title</h3>

                    <hr />

                    <div>
                        <p class="card-text">
                            Price: <strong>@Model.CourseAdvert.CoursePrice$</strong> <span class="tab"></span> Location: @Model.CourseAdvert.Location
                        </p>
                    </div>

                    <hr />

                    <div>
                        <h4 class="mb-3">Description</h4>
                        @Html.Raw(Model.CourseAdvert.Description)
                    </div>

                </div>
            </div>
        
            <div class="col-lg-4">

                <div class="card mb-4 card-primary card-border-top" style="padding: 18px;">

                    <h5>Advertisement from:</h5>

                    @if (Model.User.IsPrivateAccount)
                    {
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <img src="https://media.licdn.com/dms/image/C510BAQGDMGLyhRKDxQ/company-logo_100_100/0/1631322207066?e=1722470400&v=beta&t=UDoLYC2agGKgznELpbQEzQt9_PUtooBBQbZ6qkMOfig" alt="Logo Firmy" style="width: 50px; height: auto;">
                            </div>
                            <div class="col-auto">
                                <span class="nazwa-firmy">Nazwa Firmy</span>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <img src="logo_firmy.png" class="logo-image" alt="Logo Firmy" >
                            </div>
                            <div class="col-auto">
                                <span class="nazwa-firmy">Nazwa Firmy</span>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>